
<section class="tourist-say">
    <h2 class="tourist-say__title">What Our Tourist Say</h2>
    <div class="tourist-say__feedback">
        <div class="tourist-say__feedback-image"><img src="git clone https://vady_str@bitbucket.org/vady_str/exam-1.git../assets/images/tourist_logo.jpg" alt="tourist-logo"/></div>
        <div class="tourist-say__feedback-text">
            <p class="tourist-say__feedback-name">Sam Sumon</p>
            <p class="tourist-say__feedback-descriotion">
                <svg class="icon icon_quote" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <use xlink:href="#quote"/>
                </svg><span>But I must explain to you how all this mistaken idea of account to denouncinpleasure and praising pain  But I must explain to you how all this mistaken idea of account to nai denouncing pleasure and praising pain was account  born and I account will give you a complete account of the system was account  born and I account will give you a nai the complete account of the system</span>
            </p>
        </div>
    </div>
</section>